<form class="form">
  <legend class="form__legend">
    <%= legend %>
  </legend>
  <div class="form__wrapper">
    <input placeholder="Ваш телефон" type="tel" class="form-input" />
    <input placeholder="Ваше имя" type="name" class="form-input" />
    <button class="white-btn">Отправить</button>
  </div>
</form>
