<section class="gallery">
  <ul class="gallery__list">
    <li class="gallery__list-item">
      <img src="<%= require("@images/house-home-promo.jpg") %>" alt="house
      example">
    </li>
    <li class="gallery__list-item">
      <img src="<%= require("@images/house-home-promo.jpg") %>" alt="house
      example">
    </li>
    <li class="gallery__list-item">
      <img src="<%= require("@images/house-home-promo.jpg") %>" alt="house
      example">
    </li>
    <li class="gallery__list-item">
      <img src="<%= require("@images/house-home-promo.jpg") %>" alt="house
      example">
    </li>
  </ul>
</section>
