<ul class="networks <%= className ? className : ''%>">
  <li>
    <a target="_blank" href="#"
      ><img src="<%= require('@icons/vk.svg') %>" alt="vk"
    /></a>
  </li>
  <li>
    <a target="_blank" href="#"
      ><img src="<%= require('@icons/telegram.svg') %>" alt="telegram"
    /></a>
  </li>
  <li>
    <a target="_blank" href="#"
      ><img src="<%= require('@icons/email.svg') %>" alt="email"
    /></a>
  </li>
</ul>
