.gallery {
  padding: 20px;

  &__list {
    display: flex;
    gap: 20px;

    @media (max-width: $md) {
      flex-direction: column;
    }

    &-item {
      img {
        width: 100%;
      }
    }
  }
}
