.questions-accordion {
  padding: 40px 0;

  &__accordion {
    margin: 0 15px;

    &-content {
      border-bottom: 2px solid $gallery;
      margin: 10px 0;
      overflow: hidden;

      &.open {
        padding-bottom: 10px;
      }
    }

    &-header {
      display: flex;
      padding: 25px 0;
      cursor: pointer;
    }

    &-desc {
      height: 0px;
      padding: 0 15px;
      transition: all 0.3s linear;
    }

    &-title {
      max-width: 80%;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-plus {
      all: unset;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: auto;
      transition: 0.2s ease;

      &:hover {
        background-color: $blue-ribbon;

        span {
          background-color: $white;
        }
      }

      span {
        position: absolute;
        background-color: $black;

        &:nth-child(1) {
          width: 1px;
          top: 7px;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          height: 1px;
          left: 7px;
          top: 50%;
          right: 7px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
